body {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    background-color: lightcyan;
}
a:link, a:visited {
    font-weight: bold;
    text-decoration: none;
    color: blue;
    font-size: 16px;
}
a:hover, a:active {
    font-weight: bold;
    color: red;
    font-size: 18px;
    text-shadow: 1px 1px black;
}
a#new:link, a#new:visited {
    color: black;
}
a#new:hover, a#new:active {
    text-shadow: none;
}

/* CRUDscott */
#filtro {
    background-color: #82E0AA;
    border: none;
    border-radius: 15px;
}
#tabla {
    background-color: #82E0AA;
    border: none;
    border-radius: 15px;
}
#sel {
    text-align: left;
}
select {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input {
    border: none;
    border-radius: 5px;
}
#boton {
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
#boton:hover {
    font-size: 15px;
    background-color: red;
    color: black;
}
#foto1 {
    width: 20px;
}
#foto2 {
    width: 25px;
}
#foto1:hover, #foto1:active {
    width: 25px;
}
#foto2:hover, #foto2:active {
    width: 30px;
}